.*
[#]*[#]
.\#*
*~
_build*
.Rproj.user
*-concordance.tex
*.log
*.synctex.gz
*.tex
*.o
*.so
JaBbA.reiterate/
JaBbA/
man/
src/
raw.prm
raw.sols.rds
tests/testthat/JaBbA.lp/
tests/testthat/JaBbA.reiterate/
tests/testthat/JaBbA.empty.jj/
tests/testthat/JaBbA.tier/
tests/testthat/JaBbA.ism/
tests/testthat/JaBbA/
tests/testthat/raw.prm
tests/testthat/raw.sols.rds
JaBbA.allin
tmp.R
