language: r
dist: trusty
cache: package
sudo: required
r: 3.4.1
before_install:
- curl -OL $URL
- mv jabba.tar.gz.gpg?dl=0 jabba.tar.gz.gpg
- echo $JAB | gpg --passphrase-fd 0 jabba.tar.gz.gpg
- tar -xvzf jabba.tar.gz --directory $HOME
- curl -OL https://cran.r-project.org/src/contrib/Rcplex_0.3-3.tar.gz
- curl -OL https://cran.r-project.org/src/contrib/slam_0.1-43.tar.gz
- curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
- chmod 755 ./travis-tool.sh
install:
- "./travis-tool.sh install_bioc_deps"
- R CMD INSTALL slam_0.1-43.tar.gz
- R CMD INSTALL --configure-args="--with-cplex-dir=$HOME" Rcplex_0.3-3.tar.gz
- "./travis-tool.sh install_deps"
- "./travis-tool.sh install_github mskilab/gUtils"
- "./travis-tool.sh install_github mskilab/gTrack"
- "./travis-tool.sh install_github mskilab/gGnome"
- "./travis-tool.sh install_github mskilab/bamUtils"
- "./travis-tool.sh install_github mskilab/Ppurple"
r_packages:
- covr
- devtools
- testthat
bioc_packages:
- GenomicRanges
- VariantAnnotation
- DNAcopy
script:
- "./travis-tool.sh run_tests"
after_failure:
- "./travis-tool.sh dump_logs"
after_success:
- travis_wait Rscript -e 'covr::codecov()'
env:
  global:
  - secure: p4UXcB9d5974jheZBUvsJSZc7rtLvkn1PslWCR0a2d/H4warAFuaPr5nX23lq0ZDE7IT1FmQNVEkEbEalNYwXmLSOoNH4v8BnVEutMX3ypjNVT4xpSu/oOnFdrHy5oNyP9JanHwoxMiwmeGufZhMd/ZqsAbDgTL450dXwzlCfF0WxPxvidq9wvyrdYbLO2sihwesmZ3wfJxQn23r/x6yLSoTuKIUFaam+FPXghU3ROl3+raSkBC+FFz4yN5aOiDsnebRNjShI/9mJMEDWL1FvshJkqz+rQViINRCf8rk2RWgnls1PSfKeuzi5UAxeGriHwV2v1XWOq+/4ZPphm0vVenhM8Vp7pKScm+VQVM0/1+NTZ1aNMdIeTYVa/WgdHzZ12kuIEXs+5NGbKIIjIBljC4MpbDLa02LGpESgGgq3JV4LgqmN/88fBbiUSXSlgsAYvMgyvR2HobHI0pwrazremogKv6XgoSM8a8avFGHMUm4IIMMYnW0gLCrD6R3Ys30tAjyLTE/47Mt9D6yz5qBm5M1Qz1zo6wuIUG+xbtQ51n8IWyxy+WN8fzQTYm32ZPQ8jh2usPo02AUyK2VfWrB3WSJ/puqMad0u7qdYJB4HKqR7QEDvKKj/pskzAFkqoG8g4z6uGCdfJE/oRaVdEIDcW+FMJlTrMsHutYRZGmoFgY=
  - secure: Vi/3hhJxGsMnILhoZBAiqzLLufkYxyvd9xEpnTKnhVtps/SRj30KshRy2kM+PrtGSrGnlzIrnkncDjhyM1wVmJBR6hqfmbM9mpvaHyigfpa1sBsCwGEg7HGf5D0nII9CmY/bZwgLUZFAXHHNeCuvYSv95gJ+sXJBE40pYm4WOnjn+Feb2Ay/iMmmoWYyQRTpLSayRKRvs58q829Cy+X5DhB7UR81F8cKNh+a13TaWJ9jtwAAXPVGC+tc9A5+D8IjAA4DGrG9UeeVNDSq0ygO4KHSnRzpm2xx4Il3zgU3F2ayo3M3oXq9piXQ33/vgPnZrBRpGrIk/BXJTuTD1QyPe4j7o6gLdJ7ihX5YEgbfwIm14vfOuHkwuOS/quwnyWebfxFyHVWHE2gBbvyIakGkDWoO0m3Manv/s1R1d4nULJEGaOpPHqv4KmnEZdOkJ3xqt3HwjuFZm5aGg7jIKoEgYEUp48O2GVS79OYpuqzIVgtm9FD5g5SGiV5GzpPZTnNvv8Qh9rickgHNKuxNunvkc94v/f/DVqd3uDNSFbX4n2aJy8oeRFtAy253fcVMu7TgJlWZo+aHt+aEmlJ9HnJHFh1kMAscnnTcZpMneSd0yBIk7Nw0tMzpJeSgbO8rBDECEA2ZGaazNN/MfSqxX8kq3xMsSs3qFfYYOmoNfmVv51M=
  - CPLEX_DIR=$HOME/
  - CPLEX_INCLUDE_PATH=$HOME/cplex/include
  - CPLEX_LIB_PATH=$HOME/cplex/lib
